h2{
    color: indianred;
    margin-top: 30px;
}

/*EX0 4 - MOYENNE */ 
#notes_saisies{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
}
#notes_saisies input{
    width: 8em;
}
.exo_5{
    margin-bottom: 50px;
}